<!DOCTYPE HTML>
<html>

<head>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <style>
        .container {
            background: #965251;
            max-width: 500px;
            text-align: center;
        }
    </style>
</head>

<body>
    <div id="app">
        <h1 span v-bind:class="loadClass" v-bind:style="highlight">What animal am I?</h1>
        <img v-bind:src="newSrc" v-bind:alt="newAlt" v-bind:title="newTitle" height=325>
        <!-- checking for current index of the question-->
        <div v-for="(question, index) in quiz.questions">
            <!-- only display question that is at current index-->
            <div v-show="index === questionIndex">
            <h2 span v-bind:class="loadClass" v-bind:style="highlight">{{ question.text }}</h2>
            <ol>
                <!--got rid of istrue and isfalse classes as it is now being handled in object with "correct"-->
                <!-- for every answer found in the quiz object, display with binded styling-->
                <li v-for="answer in question.answers" v-bind:style="textStyle">
                    <label>
                        <input type="radio"> {{answer.text}}
                    </label>
                </li>
            </ol>
            <!-- if the question index is after the index of 0 (aka the first one), display the previous button-->
            <button v-if="questionIndex > 0" v-on:click="prev">
                Previous Question
              </button>
              <button v-on:click="next">
                Next Question
              </button>
        </div>
        </div>
    </div>

    <script>
        window.onload = function () {
            var quiz = {
                questions: [
                    {
                        text: "1. I am black and white, the ocean's top apex predator and swim up to 50 km/h.",
                        answers: [
                            { text: 'Dolphin' },
                            { text: 'Killer Whale', correct: true },
                            { text: 'Penguin' },
                        ]
                    }, {
                        text: "2. I am gray and found in Africa with large ears and a family oriented culture.",
                        answers: [
                            { text: 'Elephant', correct: true },
                            { text: 'Lemur' },
                            { text: 'African Grey Parrot' },
                        ]
                    }
                ]
            };
            var app = new Vue({
                el: '#app',
                data: {
                    loadClass: 'container',
                    newAlt: 'Lion at Sunset',
                    newSrc: 'images/Lion.jpg',
                    newTitle: 'Lion',
                    highlight: {
                        color: 'white',
                    },
                    textStyle: {
                        color: '#965251',
                        listStyleType: 'none',
                    },
                    quiz: quiz,
                    //current question index in array
                    questionIndex: 0,
                },
                methods: {
                    // next question
                    next: function () {
                        this.questionIndex++;
                    },
                    // previous question
                    prev: function () {
                        this.questionIndex--;
                    }
                }
            });
        }
    </script>
</body>

</html>